<?php

// Copy this file as secret.php
// Get your instance credentials at https://console.graphstory.com
// The contents of this secret file can be copied from the Graph Kit for PHP 
// documentation, also at https://console.graphstory.com

return array(
    'graphStory' => array(
        'restUsername' => '',
        'restPassword' => '',
        'restHost' => '',
        'restPort' => 7473,
        'https' => true,
    ),
);
